*.xlsx
*.csv
/.vscode
*.json
/__pycache__
*/**__pycache__
*.zip
/session_logs
*.png
*.txt
/_ctas
/_snmp2_ssh_telnet
/ctas
/file_config(ISE)
/backup
/Files
/host
/campus
/pruebas
/Results
/snmp_old
/snmp2_old
.env
*/credentials.py